html,body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
  text-align: center;
}

.Loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ErrorMessage {
  color: red;
  margin: 30px;
}